__pycache__
.tmp_dagster_home_cfcwdgaf
Configs/*
!Configs/*.json.example
Real_Estate_Data_Pipelines/docker/env/*
!env/.env.example.*
logs
raw_data
.tmp_*
volumes
python.py
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
*.log
.vscode
.idea
*.swp
*.swo
*~
.DS_Store
../volumes/
../.tmp_dagster_home*
../raw_data/*.json
../logs/*.log
notebooks
server